@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--View Appointment Page: This page will list out all of the appointments that have been made-->
@model IEnumerable<JoinDataViewModel>
<!--SignUpPage: This will display the available times. Once they select a time they are routed to a form that has the date info set-->
<!--This is an example of you can display all of the seed data-->

@foreach (var item in Model)
{
<div class="card card-outline-primary m-1 p-1">
    <div class=“bg-faded p-1">
        <h3>@item.appointmentVm.BeginTime</h3>

        <p>@item.signupVm.GroupName</p>
    </div>
    <a asp-action="SignupForm"><button class="btn btn-primary">Sign Up</button></a>
</div>
    
}
