
<!--This will be the homepage: It will have a picture of the templs and the basic information regarding the tour, 
    along with the ability to click a button to "Sign Up" for a tour-->

<!DOCTYPE html>
<html>
<head>

    <title>These are some appointments</title>
    
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <img src="~/img/laytonTemple.png" />
    <!--This is to see if I can make changes-->
    <br />
    <!--This is the general instructions for signing up-->
    <h1>Layton Utah Temple</h1>
    <h4>Please review the available slots and click on the button to sign up for that particular slot. Use the “quantity” field to let us know how many people will be in your group. Thank you!</h4>
    <h3>General Tour Instructions:</h3>
    <ul>
        <li>Masks are required</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer</li>
        <li>Dress casual, except on Sunday</li>
    </ul>
    <br />
    <a asp-action="AvailAppointments"><button class="btn btn-primary">Available</button></a>
    <a asp-action="AllAppointments"><button class="btn btn-primary">All</button></a>
    <br />
</body>
</html>