@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Enter appointment information";
    //ViewBag.Time = Model.BeginTime;
}

@model IS413Project1.Models.Signup

    <! -- The form created for the user to enter an appointment-->
<form asp-action="SignUpForm" method="post">
    <! -- area to input group name -->
    <div>
        <label asp-for="GroupName">Name of Group</label>
        <input asp-for="GroupName" />
    </div>
    <! -- area to input group size -->
    <div>
        <label asp-for="GroupSize">Size of Group</label>
        <input asp-for="GroupSize" />
    </div>
    <! -- area to input email address -->
    <div>
        <label asp-for="Email">Email Address</label>
        <input asp-for="Email" />
    </div>
    <! -- area to input phone number -->
    <div>
        <label asp-for="Phone">Phone Number</label>
        <input asp-for="Phone" />
    </div>

    <div>
        <label asp-for="BeginTime">Time</label>
        <input asp-for="BeginTime" value="BeginTime"> //fix idiot 
    </div>

    <! -- shows the errors -->

    <div asp-validation-summary="All"></div>

    <button type="submit">Submit your Information!</button>

</form>
