@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--This will contain the form that people can use to sign up for an appointment.
    They shouln't be able to set appointment times or anything they should just be able to select them-->

<h1>Signup</h1>
@model IS413Project1.Models.Signup
    <! -- The form created for the user to enter a restaurant-->
<p>@ViewBag.Appointment.BeginTime</p>
<form asp-action="SignupForm" method="post">
    <div>
        <label asp-for="GroupName">Group Name</label>
        <input asp-for="GroupName" />
    </div>

    <div>
        <label asp-for="GroupSize">Group Size</label>
        <input asp-for="GroupSize" />
    </div>

    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Phone">Phone Number</label>
        <input asp-for="Phone" />
    </div>

    <! -- shows the errors -->

    <div asp-validation-summary="All"></div>

    <button type="submit">Submit your Restaurant Information</button>

</form>