@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--This will contain the form that people can use to sign up for an appointment.
    They shouldn't be able to set appointment times or anything they should just be able to select them-->
<div class="form-group">
    <h1>Signup</h1>
    @model IS413Project1.Models.Signup
    <! -- The form created for the user to enter a restaurant-->
    <p>@ViewBag.Appointment.BeginTime</p>
    <form asp-action="SignupForm" method="post" style="width: 20rem;">
        <div asp-validation-summary="All"></div>
        <div class="form-group row">
            <label asp-for="GroupName" class="col-form-label">Group Name</label>
            <input asp-for="GroupName" type="text" class="form-control" placeholder="Enter group name" />
            <small class="form-text text-muted">We'll call your group by this name when you arrive.</small>
        </div>
        <div class="form-group row">
            <label asp-for="GroupSize" class="col-form-label">Number of people attending:</label>
            <input asp-for="GroupSize" type="number" placeholder="1" />
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" />
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="col-form-label">Phone Number</label>
            <input asp-for="Phone" class="form-control" type="tel" value="1-(555)-555-5555" />
        </div>

        <! -- shows the errors -->
        <input type="hidden" name="appointmentId" value="@ViewBag.Appointment.AppointmentId" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


