<!--_Layout page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IS413Project1</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/swatchbootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/group.css" rel="stylesheet" />
    <link rel="icon" type="image/jpg" href="~/favicon.jpg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <!--This is our big, beautiful navbar-->
        <nav class="navbar navbar-expand-xl navbar-dark bg-primary">
            <a class="navbar-brand" asp-action="Index">LAYTON TEMPLE TOURS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Appointments
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-action="AllAppointments">View All</a>
                            <a class="dropdown-item" asp-action="AvailAppointments">Available</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Render body-->
    <div class="p-lg-1 m-md-3">
        <div class="" role="main">
            @RenderBody()
        </div>
    </div>

    <!--Footer-->
    <footer class="border-top footer text-muted" style="margin-bottom:0">
        <div class="container">
            &copy; 2021 - IS413Project1 - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    </body>
</html>

